dev/slider/slider.html

<div class="slider" dir="rtl">
    <div class="slider-item">
        <div>
            <div class="doted">
                <section class="logo-client"><img src="images/Grymco-logo-blue-1.png" alt="stykey" srcset=""/></section>
                <p>1  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
            <div>
                <section class="logo-client"><img src="images/logo-stykey.png" alt="stykey" srcset=""/></section>
                <p> 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div>
            <div class="doted">
                <section class="logo-client"><img src="images/Splacer-logo2-clean-notext-2.png" alt="stykey" srcset=""/></section>
                <p> 3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
            <div>
                <section class="logo-client"><img src="images/Infolio_logo.png" alt="stykey" srcset=""/></section>
                <p> 4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
        </div>
    </div>
</div>
<div class="slider-mob" dir="rtl">
    <div class="slider-item">
        <div>
            <div>
                <section class="logo-client"><img src="images/Grymco-logo-blue-1.png" alt="stykey" srcset=""/></section>
                <p>1  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div>
            <div>
                <section class="logo-client"><img src="images/logo-stykey.png" alt="stykey" srcset=""/></section>
                <p> 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div>
            <div>
                <section class="logo-client"><img src="images/Splacer-logo2-clean-notext-2.png" alt="stykey" srcset=""/></section>
                <p> 3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div>
            <div>
                <section class="logo-client"><img src="images/Infolio_logo.png" alt="stykey" srcset=""/></section>
                <p> 4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
            </div>
        </div>
    </div>
</div>

src/slider/slider.pug
div(class="slider" dir="rtl")
    .slider-item
        div
            div.doted
                section.logo-client
                    img(src="images/Grymco-logo-blue-1.png", alt="stykey", srcset="")
                p 1  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya
            div
                section.logo-client
                    img(src="images/logo-stykey.png", alt="stykey", srcset="")
                p  2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya


    .slider-item
        div
            div.doted
                section.logo-client
                    img(src="images/Splacer-logo2-clean-notext-2.png", alt="stykey", srcset="")
                p  3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya
            div
                section.logo-client
                    img(src="images/Infolio_logo.png", alt="stykey", srcset="")
                p  4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya

div(class="slider-mob" dir="rtl")
    .slider-item
        div
            div
                section.logo-client
                    img(src="images/Grymco-logo-blue-1.png", alt="stykey", srcset="")
                p 1  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya
    .slider-item
        div
            div
                section.logo-client
                    img(src="images/logo-stykey.png", alt="stykey", srcset="")
                p  2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya
    .slider-item
        div
            div
                section.logo-client
                    img(src="images/Splacer-logo2-clean-notext-2.png", alt="stykey", srcset="")
                p  3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya
    .slider-item
        div
            div
                section.logo-client
                    img(src="images/Infolio_logo.png", alt="stykey", srcset="")
                p  4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.
                p.author
                    span Mati Cohen <br/>
                    |CTO .
                    a(href="/", target="_blank", rel="noopener noreferrer")
                        span  Panaya
