src/cards/cards.pug
.cards-wrapper
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Dedication
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Quality
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Something
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.

.cards-wrapper.qwadro
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Dedication
            span Lorem ipsum dolor sit.
            span Lorem ipsum dolor siLo rem ipsum.
            span Lorem ipsum dolor ipsum dolor siLo sit.
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Dedication
            span Lorem ipsum dolor sit.
            span Lorem ipsum dolor siLo rem ipsum.
            span Lorem ipsum dolor ipsum dolor siLo sit.
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Dedication
            span Lorem ipsum dolor sit.
            span Lorem ipsum dolor siLo rem ipsum.
            span Lorem ipsum dolor ipsum dolor siLo sit.
    .cards-item
        a(href="/", target="_blank", rel="noopener noreferrer")
            h4 Dedication
            span Lorem ipsum dolor sit.
            span Lorem ipsum dolor siLo rem ipsum.
            span Lorem ipsum dolor ipsum dolor siLo sit.

dev/cards/cards.html

<div class="cards-wrapper">
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Quality</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Something</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span></a></div>
</div>
<div class="cards-wrapper qwadro">
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
</div>
